.add-task-form {
  border-bottom-style: solid;
  border-width: 1px;
  width: 100%;
  box-shadow: 0 4px 2px -2px gray; }

.input-line {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
  border-bottom: 1px solid black;
  margin: 0 auto;
  outline: none;
  font-size: 17px; }

.todo-content {
  display: flex;
  padding: 20px;
  flex-direction: column; }

.add-button-disabled {
  border-radius: 3px;
  background-color: lightgray;
  padding: 10px;
  border-style: none;
  margin-top: 20px;
  color: white;
  background-color: lightblue; }

.add-button-abled {
  border-radius: 3px;
  background-color: lightgray;
  padding: 10px;
  border-style: none;
  margin-top: 20px;
  color: white;
  background-color: #60B9F3; }
